In [15]:
x=int(input('plese enter num of lines'))
y=int(input('please enter a number of stars'))
for i in range(1,x+1):# it is used for coloum(no. of lines)
    for j in range(1,y+1):# it is used for row(no of stars in each line)
        print('*',end='')
    print('')

plese enter num of lines5
please enter a number of stars4
***
***
***
***
***

In [2]:
# write a program to print a solid square
n=4
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end='')
    print('')

****
****
****
****

In [5]:
# print the given pattern
'''
1234
1234
1234
1234
'''
n=int(input('please enter a n'))
for i in range(1,n+1):# it is responsible for new lines 
    for j in range(1,n+1):# it is responsible for 1,2,3,4.....
        print(j,end=' ')
    print('')

please enter a n6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [20]:
'''
* 
* * 
* * * 
* * * * 
* * * * *

'''
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [24]:
'''
love love love love love 
love love love love 
love love love 
love love 
love

'''
n=int(input('please enter n'))
for i in range(1,n+1):
    for j in range(1,n+1):
        if i<=j:
            print('love',end=' ')
    print('')

please enter n4
love love love love
love love love
love love
love

In [23]:
'''
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 
'''
n=int(input('please enter n'))
for i in range(1,n+1):
    for j in range(1,n+1):
        if j<=i:
            print(j,end=' ')
    print('')

please enter n5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [55]:
n=int(input('n'))
for i in range(1,n+1):
    b=1
    for j in range(1,n+1):
        if i<=j:
            print(b ,end=' ')
            b=b+1
    print('')

n5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [43]:
# program to print a pattern of a odd number
n=4
b=n*2
for i in range(1,n+1):
    for j in range(1,b+1,2):
        print(j,end=' ')
    print('')

1 3 5 7
1 3 5 7
1 3 5 7
1 3 5 7

In [54]:
'''
program to print a odd nunber in a this pattern 
1 3 5 7 
1 3 5 
1 3 
1 

'''

n=4

for i in range (1,n+1):
    b=1
    for j in range(1,n+1):
        if i <=j:
            print(b,end=' ')
            b=b+2
    print('')

1 3 5 7
1 3 5
1 3
1

In [58]:
# program to print a even number in a pattern 
n=int(input('enter n'))
for i in range(1,n+1): # It can  work only for rows 
    b=0
    for j in range(1,n+1): # it can work only for coloum
        print(b,end='  ')
        b=b+2
    print('')

enter n10
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18
0  2  4  6  8  10  12  14  16  18

In [61]:
# program to print a even number in a pattern 
b=0
n=int(input('enter n'))
for i in range(1,n+1): # It can  work only for rows 
    for j in range(1,n+1): # it can work only for coloum
        print(b,end='  ')
        b=b+2
    print('')

enter n5
0  2  4  6  8
10  12  14  16  18
20  22  24  26  28
30  32  34  36  38
40  42  44  46  48

In [8]:
'''
ABCD
ABCD
ABCD
ABCD
'''
n=5
for i in range(1,n+1):
    a=65
    for j in range(1,n+1):
        print(chr(a),end=' ')
        a=a+1
    print('')

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [74]:
'''
A
AB
ABC
ABCD
ABCDE




'''

'\nA\nAB\nABC\nABCD\nABCDE\n\n\n\n\n'

In [75]:
'''
1
AB
123
ABCD
12345
'''

'\n1\nAB\n123\nABCD\n12345\n'

In [86]:
# *  # *  # 
 # *  # *  # 
 # *  # *  # 
 # *  # *  # 
 # *  # *  # 
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if j % 2 ==0:
            print('*',end=' ')
        else:
            print(' #',end=' ')
    print('')

 # *  # *  #
 # *  # *  #
 # *  # *  #
 # *  # *  #
 # *  # *  #

In [3]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i ==3 or j ==3:
            print('*' ,end=' ')    
        else:
            print(' ',end=' ')
    print('')

    *
    *
* * * * *
    *
    *

In [ ]:
# program to print hellow rectangle 
'''
******
*    *
*    *
******
'''

In [111]:
print('a')

a

In [4]:
'''
*
 *
  *
   *
  
'''

'\n*\n *\n  *\n   *\n  \n'

In [6]:
a=chr(65)
print(a)

A

In [11]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i == j:
            print('*',end='')
        else: print('')

*




*




*




*




*

In [22]:
'''
*   * 
 * *  
  *   
 * *  
*   * 


'''


n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i ==  j or i+j == n+1):
            print('*',end='')
        else: 
            print(' ',end='')
    print(' ')

*   *
 * *
  *
 * *
*   *

In [28]:
'''
1  
2 3  
4 5 6  
7 8 9 10  
11 12 13 14 15 '''
n=5
count =1
for i in range (1,n+1):
    for j in range(1,n+1):
        if j<= i:
            print(count, end =' ')
            count=count+1
    print(' ')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [27]:
'''
1  
3 5  
7 9 11  
13 15 17 19  
21 23 25 27 29 '''
n=5
count =1
for i in range (1,n+1):
    for j in range(1,n+1):
        if j<= i:
            print(count, end =' ')
            count=count+2
    print(' ')

1
3 5
7 9 11
13 15 17 19
21 23 25 27 29

In [36]:
n=12 
for i in range(1,12):
    for j in range(1,12):
        if j<=i:
            if j%2 == 0:
                print('0',end='')
            else:
                print('1',end='')
    print('')

1
10
101
1010
10101
101010
1010101
10101010
101010101
1010101010
10101010101

In [45]:
'''
          * 
        * * 
      * * * 
    * * * * 
  * * * * * 
'''

for i in range(1,6):
    for j in range(1,6):
        if i <=j:
            print(' ',end=' ')
    for k in range(1,6):
        if k<=i:
            print('*',end=' ')
    print('')

          *
        * *
      * * *
    * * * *
  * * * * *

In [46]:
'''
---****     it is a basically follow a logic of square -triangle   
--****-
-****-- 
****---
'''

'\n   ****\n  ****\n **** \n****\n'

In [48]:
''' 
              * 
            * * 
          * * * 
        * * * * 
      * * * * * 
      
   A   
  AB    -> IT CAN FOLLOW A UPPER LOGIC 
 ABC
ABCD 

'''
a=3
b=2*a-1
print(b*'*')

*****

In [ ]:
'''
solve the pyramind based problem of stars

'''